html, body, #map-canvas {
	height: 100%;
	margin: 0px;
	padding: 0px
}

.navbar-default {
	background-color: red;
}

.navbar-default .navbar-brand {
	color: #ffcc00;
}

#map {
	position: absolute;
	width: 100%;
	height: 500px;
	z-index: 0;
}

#hackday {
	display: block;
	width: 50px;
	height: 50px;
	background: red;
	position: absolute;
	top: 20px;
	left: 330px;
	text-indent: -9999px;
	text-align: left;
	background: transparent url('../images/logo_50x50.png') scroll no-repeat top left;
	opacity: 0.5;
}
#hackday:hover {
	opacity: 1;
}

#container {
	z-index: 1;
	width: 300px;
	position: relative;
	top: 20px;
	left: 20px;
    border: 2px solid #ffcc00;
    color:#FFF;
    font-family:Arial, Helvetica, sans-serif;
    font-size:12px;
    padding: 0 1em .5em 1em;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    text-shadow:0 -1px #000000;
    -webkit-box-shadow: 0 0  8px #000;
    box-shadow: 0 0 8px #000;

    background: rgba(0,0,0,0.5);
}

#container .logo{
	height: 42px;
	padding-top: 5px;
	margin: 0 -1em 0.8em -1em;
    background: #ffcc00 url('../images/type_followthemoney.png') scroll no-repeat center 5px;
}

#table-container {
	z-index: 1;
	width: calc(100% - 40px);
	margin-top: 20px;
	position: absolute;
	bottom: 20px;
	left: 20px;
    border: 2px solid #ffcc00;
    background: rgba(0,0,0,0.5);
    color:#FFF;
    font-family:Arial, Helvetica, sans-serif;
    font-size:12px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    text-shadow:0 -1px #000000;
    -webkit-box-shadow: 0 0  8px #000;
    box-shadow: 0 0 8px #000;
}

.spacing {
	padding: 0 30px;
}


.infobox-wrapper {
    display:none;
}

#infobox {
	border: 2px solid #ffcc00;
	margin-top: 8px;
	background: #333;
	color:#FFF;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	padding: .5em 1em;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	text-shadow:0 -1px #000000;
	-webkit-box-shadow: 0 0  8px #000;
	box-shadow: 0 0 8px #000;
}

/*** table sorter theme ***/

table.tablesorter {
	width: 100%;
	text-align: left;
	border-collapse: collapse;
}
table.tablesorter thead tr th,
table.tablesorter tfoot tr th {
	color: #193241;
	text-shadow: none;
	font-weight: bold;
	background-color: #ffcc00;
	border: none;
	padding: 4px;
}
table.tablesorter thead tr .header {
	background-image: url('../images/bg_blue.png');
	background-repeat: no-repeat;
	background-position: center right;
	cursor: pointer;
}
table.tablesorter tbody td {
	color: #eeeeee;
	padding: 4px;
	background-color: transparent;
	border: none;
	vertical-align: top;
}
table.tablesorter tbody tr.odd td {
	background-color: rgba(255, 255, 255, 0.2);
}
table.tablesorter tbody tr.highlight td {
	background-color: rgba(255, 255, 255, 0.5);
}

table.tablesorter thead tr .headerSortUp {
	background-image: url('../images/asc_blue.png');
}
table.tablesorter thead tr .headerSortDown {
	background-image: url('../images/desc_blue.png');
}
table.tablesorter thead tr .headerSortDown, table.tablesorter thead tr .headerSortUp {
background-color: #8dbdd8;
}

#pager {
	position: static;
	margin: 5px auto;
	width: 120px;
}
#pager .pagedisplay {
	background: none;
	border: none;
	width: 40px;
	text-align: center;
}

.input-group-double input:first-child{
    border-top-right-radius: 4px;
}


.input-group-double input:nth-child(2){
    border-top-right-radius: 0;
}


.form-control-large {
    height: 39px;
    line-height: 39px
}

a.ted_url {
	color: #ffcc00;
	text-decoration: underline;
	text-shadow: none;
}
