html, body, #map-canvas {
	height: 100%;
	margin: 0px;
	padding: 0px
}

.navbar-default {
	background-color: red;
}

.navbar-default .navbar-brand {
	color: #ffcc00;
}

#map {
	position: absolute;
	width: 100%;
	height: 500px;
	z-index: 0;
}

#container {
	z-index: 1;
	width: 300px;
	position: relative;
	top: 20px;
	left: 20px;
    border: 2px solid #ffcc00;
    background: rgba(0,0,0,0.5);
    color:#FFF;
    font-family:Arial, Helvetica, sans-serif;
    font-size:12px;
    padding: .5em 1em;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    text-shadow:0 -1px #000000;
    -webkit-box-shadow: 0 0  8px #000;
    box-shadow: 0 0 8px #000;
}

#table {
	z-index: 1;
	width: 90%;
	position: relative;
	margin-top: 20px;
	top: 20px;
	left: 20px;
    border: 2px solid #ffcc00;
    background: rgba(0,0,0,0.5);
    color:#FFF;
    font-family:Arial, Helvetica, sans-serif;
    font-size:12px;
    padding: .5em 1em;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    text-shadow:0 -1px #000000;
    -webkit-box-shadow: 0 0  8px #000;
    box-shadow: 0 0 8px #000;
}

.spacing {
	padding: 0 30px;
}


.infobox-wrapper {
    display:none;
}

#infobox {
	border: 2px solid #ffcc00;
	margin-top: 8px;
	background: #333;
	color:#FFF;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	padding: .5em 1em;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	text-shadow:0 -1px #000000;
	-webkit-box-shadow: 0 0  8px #000;
	box-shadow: 0 0 8px #000;
}

/*** table sorter theme ***/

table.tablesorter {
	font-family:arial;
	background-color: #CDCDCD;
	margin:10px 0pt 15px;
	font-size: 8pt;
	width: 100%;
	text-align: left;
}
table.tablesorter thead tr th, table.tablesorter tfoot tr th {
	background-color: #e6EEEE;
	border: 1px solid #FFF;
	font-size: 8pt;
	padding: 4px;
}
table.tablesorter thead tr .header {
	background-image: url('../images/bg.gif');
	background-repeat: no-repeat;
	background-position: center right;
	cursor: pointer;
}
table.tablesorter tbody td {
	color: #3D3D3D;
	padding: 4px;
	background-color: #FFF;
	vertical-align: top;
}
table.tablesorter tbody tr.odd td {
	background-color:#F0F0F6;
}
table.tablesorter thead tr .headerSortUp {
	background-image: url('../images/asc.gif');
}
table.tablesorter thead tr .headerSortDown {
	background-image: url('../images/desc.gif');
}
table.tablesorter thead tr .headerSortDown, table.tablesorter thead tr .headerSortUp {
background-color: #8dbdd8;
}


.input-group-double input:first-child{
    border-top-right-radius: 4px;
}


.input-group-double input:nth-child(2){
    border-top-right-radius: 0;
}


.form-control-large {
    height: 39px;
    line-height: 39px
}